$color-white: #FFFFFF;
$color-black: #253858;

$color-primary-light: #4A91ED;
$color-primary: #1B74E8;
$color-primary-medium:  #135DBE;
$color-primary-dark: #0E4690;

$color-secondary-light: #FFE6BD;
$color-secondary: #FFBE55;
$color-secondary-medium: #FFAB23;
$color-secondary-primary: #EE9300;
