.site-content {
  background-color: #F8F8F8;
  box-shadow: inset 0px 10px 45px -20px rgba(37,56,88,1);
  //background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  // background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  // background-blend-mode: screen;
}