.about {
  lost-center: 1200px;
  padding: 80px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  &__title {
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 560;
    color: #5B6D8B;
  }
  &__description {
    margin: 0px auto;
    max-width: 800px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #253858;
  }
}