.contact {
  lost-center: 1200px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-right: 80px;
    &--phone {
      padding-bottom: 20px;
      color: #253858;
      font-size: 30px;
      font-weight: 500;
    }
    &--phone-cta {
      display: inline-block;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #FFFFFF;
      padding: 6px 18px;
      background-color: #057AFF;
      border-radius: 6px;
      transition: background-color .25s;
      margin-bottom: 40px;
      &:hover { 
        background-color: #253858;
        box-shadow: 0px 10px 45px -20px rgba(37,56,88,1);
      }
    }
    &--mail {
      display: block;
      font-size: 30px;
      font-weight: 500;
      color: #5B6D8B;
      margin-bottom: 40px;
    }
    &__cvr {
      font-size: 20px;
      font-weight: 500;
      color: #253858;
    }
    &--name {
      color: #5B6D8B;
    }
  }
  &__form {
    .contact-form {
      div {
        .wpcf7-form {
          font-family: 'IBM Plex Sans', sans-serif;
          p {
            padding-bottom: 10px;
            label {
              color: #5B6D8B;
              span {
                margin-top: 2px;
                input {
                  margin-top: 5px;
                  width: 100%;
                  border: none;
                  border-left: 2px solid #253858;
                  padding: 5px;
                  font-size: 16px;
                  color: #253858;
                  outline: none;
                  transition: border-color .25s;
                  &:focus {
                    border-color: #057AFF !important;
                  }
                }
                textarea {
                  margin-top: 5px;
                  border: none;
                  border-left: 2px solid #253858;
                  font-size: 16px;
                  outline: none;
                  transition: border-color .25s;
                  resize: none;
                  &:focus {
                    border-color: #057AFF !important;
                  }
                }
              }
            }
          }
          p {
            .wpcf7-submit {
              font-family: 'IBM Plex Sans', sans-serif;
              font-size: 16px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #FFFFFF;
              padding: 6px 18px;
              background-color: #057AFF;
              border-radius: 6px;
              border: none;
              cursor: pointer;
              transition: background-color .25s;
              &:hover {
                background-color: #253858;
              }
            }
          }
        }
      }
    }
  }
}