.contact-section {
  lost-center: 1200px;
  padding: 0 0 80px;
  display: flex;
  justify-content: center;
  &__wrapper {
    display: block;
    background-color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 6px;
    padding: 40px;
    text-align: center;
    transition: box-shadow .25s;
    text-decoration: none;
    &--title {
      color: #253858;
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
    }
    &--description {
      color: #5B6D8B;
      font-size: 20px;
      font-weight: 500;
      max-width: 500px;
      padding-bottom: 20px;
    }
    &--cta {
      text-decoration: none;
      color: #253858;
      font-size: 20px;
      font-weight: 600;
    }
    &:hover {
      box-shadow: 2px 3px 10px rgba(37,56,88,0.33);
    }
  }
}