#faqBot {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border: 5px solid #253858;
  border-radius: 6px;
  box-shadow: 0px 10px 45px -10px rgba(37,56,88,1);
  #faqBotClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    i {
      font-size: 30px;
      color: #FFFFFF;
    }
  }
}
#faqBotButton {
  display: block;
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #057AFF;
  box-shadow: 0px 10px 45px -10px rgba(37,56,88,1);
  transition: background-color .25s;
  cursor: pointer;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-size: 30px;
    transition: color .25s;
  }
  &:hover {
    background-color: #FFFFFF;
    i {
      color: #253858;
    }
  }
}