.footer {
  lost-center: 1200px;
  padding: 40px 0;
  display: flex;
  .footer__content{
    .footer__content__logo {
      text-decoration: none;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      letter-spacing: 1px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .footer__content__menu {
      padding: 20px 0 0;
      .menu-footermenu-container {
        .menu {
          .menu-item {
            padding-bottom: 10px;
            a {
              text-decoration: none;
              font-family: 'IBM Plex Sans', sans-serif;
              font-size: 16px;
              text-transform: uppercase;
              color: #FFFFFF;
              letter-spacing: 1px;
              font-weight: 500;
              &:hover {
                
              }
            }
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
  .footer__info {
    margin-left: auto;
    text-align: right;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    p {
      margin-bottom: 20px;
      letter-spacing: 1px;
    }
    a {
      text-decoration: none;
      color: #FFFFFF;
      letter-spacing: 1px;
    }
  }
}