.header {
  lost-center: 1200px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__background {
    position: absolute;
    top: 40px;
    z-index: -1;
    width: 800px;
  }
  &__img {
    display: inline-block;
    padding-right: 80px;
    img {
      height: 253px;
    }
  }
  &__content {
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-block;
    text-align: center;
    &--title {
      font-size: 48px;
      font-weight: 600;
      color: #253858;
      padding-bottom: 20px;
    }
    &--subtitle {
      font-size: 30px;
      font-weight: 500;
      color: #5B6D8B;
      padding-bottom: 40px;
    }
    &--cta {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #FFFFFF;
      padding: 6px 18px;
      background-color: #057AFF;
      border-radius: 6px;
      transition: background-color .25s;
      &:hover { 
        background-color: #253858;
        box-shadow: 0px 10px 45px -20px rgba(37,56,88,1);
      }
    }
    .scroll-down {
      display: inline-block;
      height: 40px;
      width: 40px;
      //transform: translateY(60px);
      animation: fadeInDown 2s infinite;
      animation-iteration-count: 3;
      svg {
        fill: #253858;
      }
      @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translate3d(0, -75%, 0);
        }
      
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  &__img + &__content {
    text-align: left;
    max-width: 600px;
  }
}