.integrations {
  padding: 80px 0 0;
  lost-center: 1200px;
  lost-utility: clearfix;
  .integration-item {
    lost-column: 1/3;
    padding-bottom: 80px;
    &__logo {
      lost-align: center;
      height: 40px;
      margin-bottom: 20px;
      img {
        height: 40px;
        filter: grayscale(1);
        transition: filter .25s;
        display: block;
        &:hover {
          filter: none;
        }
      }
    }
    &__name {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #253858;
      text-align: center;
    }
  }
}