.navigation {
  lost-center: 1200px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
    #logo-icon {
      padding-right: 10px;
      text-decoration: none;
    }
    #logo-text {
      font-family: 'IBM Plex Sans', sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
      color: #253858;
      padding-right: 60px;
      text-decoration: none;
    }
    .menu {
      .menu-item {
        display: inline-block;
        text-align: center;
        padding: 26px;
        a {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #253858;
          transition: color .25s;
          &:hover {
            color: #1B74E8;
          }
        }
      }
      .current-menu-item {
        a {
          color: #1B74E8;
          // &:after {
          //   position: absolute;
          //   top: 25px;
          //   left: 50%;
          //   transform: translateX(-50%);
          //   content: '';
          //   height: 6px;
          //   width: 6px;
          //   background-color: #1B74E8;
          //   transition-property: background-color .25s;
          //   border-radius: 50%;
          // }
        }
      }    
    }
    #cta {
      background-color: transparent;
      text-transform: uppercase;
      margin-left: auto;
      padding: 6px 18px;
      text-decoration: none;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #253858;
      border: #1B74E8 2px solid;
      border-radius: 6px;
      transition: background-color .25s, color .25s;
      animation: bounce 2s;
      transform-origin: center bottom;
      &:hover {
        background-color: #253858;
        color: #FFFFFF;
        border-color: #253858;
      }
    }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}