.process {
  lost-center: 1200px;
  padding: 80px 0;
  width: 100%;
  &__header {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    &--title {
      font-weight: 600;
      font-size: 48px;
      color: #253858;
      padding-bottom: 20px;
    }
    &--description {
      font-weight: 500;
      font-size: 30px;
      color: #5B6D8B;
      padding-bottom: 20px;
    }
  }
  &__content {
    padding: 80px 0;
    lost-utility: clearfix;
    .process-item {
      font-family: 'IBM Plex Sans', sans-serif;
      lost-column: 1/4;
      text-align: center;
      &__logo {
        lost-align: center;
        height: 100px;
        padding-bottom: 80px;
        img {
          height: 100px;
        }
      }
      &__name {
        padding: 40px 0;
        font-weight: 600;
      }
      &__description {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
  &__link {
    text-align: center;
    &--cta {
      font-family: 'IBM Plex Sans', sans-serif;
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 400;
      font-size: 16px;
      padding: 6px 18px;
      background-color: #1B74E8;
      border-radius: 6px;
      letter-spacing: 1px;
      transition: background-color .25s;    
      &:hover {
        background-color: #253858;
      }
    }
  }
}