.services {
  padding: 80px 0;
  lost-center: 1200px;
  .service-item {
    padding: 40px 0;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    &:nth-child(2n) {
      justify-content: flex-end;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__icon {
      padding-right: 40px;
      img {
        height: 100px;
      }
    }
    &__content {
      font-family: 'IBM Plex Sans', sans-serif;
      max-width: 600px;
      &--name {
        font-size: 48px;
        font-weight: 600;
        color: #5B6D8B;
        padding-bottom: 40px;
      }
      &--description {
        color: #253858;
        font-size: 20px;
        font-weight: 500px;
        max-width: 400px;
      }
    }
  }
}